<!-- <h2>Import Xml</h2> -->
<div class="xml-import" (click) = "onSelectFile()">
    <!-- <input #xmlinput type="file" accept=".xml, .xlsx" class="file-input" (change)="onChange($event)" #fileUpload /> -->
    <!-- <div *ngIf="file" class="xml-form">
      <section class="file-info">
        File details:
        <ul>
          <li>Name: {{file.name}}</li>
          <li>Type: {{file.type}}</li>
          <li>Size: {{file.size}} bytes</li>
        </ul>
      </section>
  
      <button (click)="onUpload()">Upload the file</button>
  
      <section [ngSwitch]="status">
        <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
        <p *ngSwitchCase="'success'">✅ Done!</p>
        <p *ngSwitchCase="'fail'">❌ Error!</p>
        <p *ngSwitchDefault>😶 Waiting to upload...</p>
      </section>
    </div> -->
  </div>
  
  